* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.1rem;
  line-height: 1.2;
}

/* Utility Class */

.container {
  max-width: 1350px;
  margin: auto;
  position: relative;
  overflow: hidden;
  padding: 1rem 2rem;
}

/* Header */

#main-header {
  background: url("img/landing-page.png") no-repeat center center/cover;
  height: 100vh;
}

/* navbar */

#navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0 2rem;
}

#navbar .logo img {
  width: 150px;
  cursor: pointer;
}

#navbar #nav-content ul {
  display: flex;
  align-items: center;
  justify-content: center;
}

#navbar #nav-content ul li {
  padding-left: 1.2rem;
}

#navbar #nav-content ul li a {
  color: #ffffff;
  font-weight: 800;
  font-size: 1.2rem;
  transition: all 0.5s ease-in;
  border: 1px solid rgba(0, 0, 0, 0);
  padding: 10px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0);
}

#navbar #nav-content ul li a:hover {
  color: #f4f4f4;
  border: 1px solid #fff;
  border-radius: 50px;
  background: #5f78fe;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
}

#navbar #nav-content ul li a:active {
  opacity: 0.5;
}

/* Header Content */

#main-header #header-content {
  height: 75vh;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
}

#main-header #header-content h1 {
  color: #ffffff;
  font-size: 4rem;
  font-weight: 800;
  font-family: "Poppins", sans-serif;
  margin-top: 2rem;
}

#main-header #header-content p {
  margin-top: 4rem;
  color: #ffffff;
  line-height: 1.4;
  font-size: 1.2rem;
  font-family: "Poppins", sans-serif;
  margin-bottom: 3.5rem;
}

#main-header #header-content a {
  color: #ffffff;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
}

#main-header #header-content .get-started-btn {
  border: 2px solid #f65c66;
  padding: 1rem 2rem;
  background: #f65c66;
  border-radius: 50px;
  font-weight: 800;
  transition: all 0.3s ease-in;
}

#main-header #header-content .get-started-btn:hover {
  background: none;
  border: 2px solid #fff;
}

#main-header #header-content .read-more-btn {
  margin-left: 2.3rem;
  border: #ffffff 2px solid;
  padding: 1rem 2rem;
  border-radius: 50px;
  font-weight: 800;
  transition: all 0.3s ease-in;
}

#main-header #header-content .read-more-btn:hover {
  background: #f65c66;
  border: 2px solid #f65c66;
}

#main-header #header-content .read-more-btn:active {
  opacity: 0.6;
  padding: 1.1rem 2.1rem;
}

/* Marketing */

#marketing {
  background: #fff;
  height: 100%;
  width: 100%;
}

.marketing-header {
  text-align: center;
  margin-top: 4rem;
  color: #4b6583;
}

.marketing-header h1 {
  font-size: 2.9rem;
  font-family: "Poppins", sans-serif;
  margin-bottom: 1rem;
}

.marketing-header hr {
  text-align: center;
  width: 100px;
  position: absolute;
  left: 39rem;
  background: #5f78fe;
  height: 4px;
}

#marketing .marketing-main-box {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin-top: 10rem;
}

#marketing .marketing-main-box .marketing-box {
  margin-left: 5rem;
  border: 1px solid #fff;
  box-shadow: 5px 5px 20px rgba(233, 245, 255, 0.9);
  padding: 4rem;
  border-radius: 20px;
}

#marketing .marketing-main-box .marketing-box img {
  transition: all 0.6s ease-in;
  cursor: pointer;
}

#marketing .marketing-main-box .marketing-box img:hover {
  transform: rotateX(360deg);
}

#marketing .marketing-main-box .marketing-box h3 {
  color: #4b6583;
  margin-bottom: 2rem;
  font-size: 1.4rem;
  font-weight: bold;
  margin-top: 2rem;
}

#marketing .marketing-main-box .marketing-box p {
  color: #4b6583;
  opacity: 0.5;
  font-size: 0.88;
  margin-bottom: 2rem;
}

#marketing .marketing-main-box .marketing-box a {
  color: #2d4cff;
  cursor: pointer;
  z-index: 10;
  transition: color 0.5s ease-in;
}

#marketing .marketing-main-box .marketing-box a:hover {
  color: #ef646d;
}

#marketing .marketing-main-box .marketing-box a:active {
  color: #f4f4f4;
}

#marketing .marketing-main-box .marketing-box a > i {
  transition: all 0.5s ease-in;
}

#marketing .marketing-main-box .marketing-box a:hover > i {
  transform: translateX(100px);
}

#marketing .marketing-main-box .marketing-1st-child {
  overflow: hidden;
  position: relative;
}

#marketing .marketing-main-box .marketing-1st-child::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  background: url("img/2nd/2nd-showcase-1st-before.png") no-repeat center
    center/cover;
  width: 100px;
  height: 100px;
  overflow: hidden;
}

#marketing .marketing-main-box .marketing-last-child::before {
  content: "";
  position: absolute;
  top: 14em;
  left: 68em;
  right: 0;
  bottom: 0;
  background: url("img/2nd/2nd-showcase-last-before.png") no-repeat center
    center/cover;
  width: 200px;
  height: 200px;
}

/* About */

#about {
  background: url("img/3rd-showcase.png") no-repeat center center/cover;
  height: 100%;
}

#about .about-content {
  height: 75vh;
  display: flex;
  align-items: left;
  justify-content: center;
  flex-direction: column;
}

#about .about-content h3 {
  margin-bottom: 2rem;
  color: #fff;
  font-family: "Poppins", sans-serif;
}

#about .about-content h1 {
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-size: 2.5rem;
}

#about .about-content hr {
  width: 110px;
  height: 5px;
  background: #fff;
  border-radius: 20px;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

#about .about-content p {
  color: #fff;
  font-size: 1.2rem;
  line-height: 1.3;
  margin-bottom: 4rem;
}

#about .about-content a {
  color: #fff;
  background: #f65c66;
  border: 2px solid #f65c66;
  padding: 1rem 2rem;
  border-radius: 50px;
  transition: all 0.5s ease-in;
}

#about .about-content > div a:hover {
  background: none;
  border: 2px solid #ffffff;
}

#about .about-content a:active {
  color: #f65c66;
  opacity: 0.4;
  border: 2px dotted #f65c66;
}

/* Timeline */

#timeline {
  height: 100%;
  width: 100%;
  background: #fff;
}

#timeline .timeline-content {
  height: 75vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#timeline .timeline-content ul {
  display: flex;
  align-items: center;
  justify-content: center;
}

#timeline .timeline-content ul > div {
  width: 100%;
  height: 12px;
  background-color: blue;
  display: flex;
  align-items: center;
  justify-content: center;
}

#timeline .timeline-content ul > div::before {
  content: "";
  position: absolute;
  top: 22rem;
  left: 1.2rem;
  right: 0;
  bottom: 0;
  background: #fff;
  height: 30px;
  width: 50px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
}

#timeline .timeline-content ul > div::after {
  content: "";
  position: absolute;
  top: 22rem;
  left: 80rem;
  right: 0;
  bottom: 0;
  background: #fff;
  height: 30px;
  width: 50px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
}

#timeline .timeline-content ul li {
  margin-left: 2rem;
  background: #fff;
  padding: 2rem;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.5s ease-in;
}

#timeline .timeline-content ul li:hover {
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

#timeline .timeline-content ul li h2 {
  color: #506986;
  margin-bottom: 1.5rem;
  opacity: 0.9;
}

#timeline .timeline-content ul li p {
  color: #506986;
  opacity: 0.7;
}

#timeline .timeline-content ul li:nth-child(1) {
  margin-top: 24.5rem;
}

#timeline .timeline-content ul li:nth-child(1)::before {
  content: "";
  position: absolute;
  top: 23rem;
  left: 10rem;
  right: 0;
  bottom: 0;
  background: blue;
  height: 90px;
  width: 10px;
}

#timeline .timeline-content ul li:nth-child(1)::after {
  content: "";
  position: absolute;
  top: 22rem;
  left: 9.4rem;
  right: 0;
  bottom: 0;
  background: #fff;
  border: 10px solid blue;
  border-radius: 100%;
  height: 10px;
  width: 10px;
}

#timeline .timeline-content ul li:nth-child(2) {
  margin-bottom: 24.5rem;
}

#timeline .timeline-content ul li:nth-child(2)::before {
  content: "";
  position: absolute;
  top: 17.7rem;
  left: 33rem;
  right: 0;
  bottom: 0;
  background: blue;
  height: 90px;
  width: 10px;
}

#timeline .timeline-content ul li:nth-child(2)::after {
  content: "";
  position: absolute;
  top: 22rem;
  left: 32.4rem;
  right: 0;
  bottom: 0;
  background: #fff;
  border: 10px solid blue;
  border-radius: 100%;
  height: 10px;
  width: 10px;
}

#timeline .timeline-content ul li:nth-child(3) {
  margin-top: 24.5rem;
}

#timeline .timeline-content ul li:nth-child(3)::before {
  content: "";
  position: absolute;
  top: 23rem;
  left: 52.3rem;
  right: 0;
  bottom: 0;
  background: blue;
  height: 90px;
  width: 10px;
}

#timeline .timeline-content ul li:nth-child(3)::after {
  content: "";
  position: absolute;
  top: 22rem;
  left: 51.7rem;
  right: 0;
  bottom: 0;
  background: #fff;
  border: 10px solid blue;
  border-radius: 100%;
  height: 10px;
  width: 10px;
}

#timeline .timeline-content ul li:nth-child(4) {
  margin-bottom: 24.5rem;
}

#timeline .timeline-content ul li:nth-child(4)::before {
  content: "";
  position: absolute;
  top: 17.7rem;
  left: 73rem;
  right: 0;
  bottom: 0;
  background: blue;
  height: 90px;
  width: 10px;
}

#timeline .timeline-content ul li:nth-child(4)::after {
  content: "";
  position: absolute;
  top: 22rem;
  left: 72.4rem;
  right: 0;
  bottom: 0;
  background: #fff;
  border: 10px solid blue;
  border-radius: 100%;
  height: 10px;
  width: 10px;
}

/* Features */

#features {
  background: url("img/5th/showcase.png") no-repeat center center/cover;
  height: 100%;
}

.features-all-img {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}

.features-img img {
  width: 250px;
  margin: 1rem;
  cursor: zoom-in;
  transition: 0.5s;
}

.features-img img:hover {
  background: #ef646d;
  z-index: 10;
  transform: scale(1.1);
}

.features-all-img .features-img-2nd {
  margin-top: 4rem;
}

.features-all-img .features-img-4th {
  margin-top: 4rem;
}

.features-all-img .features-img-1st::before {
  content: "";
  position: absolute;
  top: 3rem;
  left: 2rem;
  right: 0;
  bottom: 0;
  background: url("img/5th/5th-before.png") no-repeat center center/cover;
  height: 200px;
  width: 200px;
}

/* Team */

#team {
  background: #fff;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.team-header {
  text-align: center;
  margin-bottom: 4rem;
  color: #4b6582;
}

.team-header h1 {
  font-family: "Poppins", sans-serif;
  font-size: 3rem;
}

.team-header hr {
  width: 100px;
  height: 4px;
  background: #2d4cff;
  margin-left: 34rem;
  margin-top: 2rem;
}

.team-main-box {
  display: flex;
  width: 90%;
  justify-content: space-around;
}

.team-box {
  width: 360px;
  height: 400px;
  padding: 24px;
  background: #fff;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.6s ease-out;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  margin-left: 3rem;
}

.team-box:hover {
  transform: translateY(15px);
}

.team-box:hover::before {
  opacity: 1;
}

.team-box:hover .team-text {
  opacity: 1;
  transform: translateY(0);
}

.team-box::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background: #fff;
  z-index: 2;
  transition: 0.5s;
  opacity: 0;
}

.team-box img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
}

.team-box .team-text {
  position: relative;
  z-index: 3;
  color: #4b6582;
  opacity: 0;
  transform: translateY(100px);
  transition: 0.5s;
}

.team-box .team-text h3 {
  margin: 0;
  font-family: "Poppins", sans-serif;
  margin-bottom: 1rem;
}

.team-box .team-text p {
  color: #4b6583;
  margin-bottom: 1rem;
}

.team-box .team-text .team-box-btn {
  color: #4b6582;
  border: 1px solid #4b6582;
  padding: 0.75rem 1rem;
  border-radius: 3px;
  transition: all 0.5s ease-in;
  margin-top: 1rem;
}

.team-box .team-text .team-box-btn:hover {
  color: #fff;
  border: 1px solid #2d4cff;
  background: #2d4cff;
}

.team-box .team-text i {
  color: #4b6582;
  opacity: 0.6;
  border: 1px solid #4b6582;
  padding: 1rem;
  margin-top: 1.5rem;
  transition: all 0.6s ease-in;
}

.team-box .team-text i:hover {
  color: #fff;
  border: 1px solid #2d4cff;
  background: #2d4cff;
  animation: team-btn 0.7s ease-in;
}

@keyframes team-btn {
  0% {
    transform: scale(1);
  }

  25% {
    transform: scale(1.2);
  }

  50% {
    transform: scale(1.1);
  }

  75% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}

/* Client */

#client {
  background: url("img/7th/showcase-.png") no-repeat center center/cover;
  height: 100%;
}

.client-header {
  text-align: center;
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-size: 1.7rem;
  margin-top: 5rem;
}

.client-header hr {
  margin-top: 2rem;
  width: 100px;
  height: 4px;
  background: #fff;
  margin-left: 36rem;
}

.client-main-box {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin-top: 6rem;
}

.client-main-box .client-box {
  margin-left: 4rem;
  padding: 3rem;
  background: #fff;
  border-radius: 10px;
  text-align: center;
}

.client-main-box .client-box img {
  height: 100px;
  width: 100px;
  margin-bottom: 1rem;
  transition: all 0.4s ease-in;
  cursor: pointer;
}

.client-main-box .client-box img:hover {
  transform: scale(1.2);
}

.client-main-box .client-box p {
  color: #4b6582;
  opacity: 0.7;
  margin-bottom: 1rem;
}

.client-main-box .client-box hr {
  background: #0071f1;
}

.client-main-box .client-box h2 {
  color: #4b6582;
  margin-top: 1rem;
}

.client-main-box .client-box i {
  color: #4b6582;
  cursor: pointer;
  transition: all 0.3s ease-in;
}

.client-main-box .client-box i:hover {
  animation: client-i 01s linear infinite;
}

@keyframes client-i {
  to {
    transform: rotate(360deg);
  }
}

.client-main-box .client-box .client-manager {
  margin-top: 1rem;
  color: #3766fc;
  opacity: 1;
  cursor: pointer;
}

/* FAQ */

#faq {
  background: #fff;
  height: 70vh;
}

.faq-main-content {
  display: flex;
  align-items: center;
  margin-top: 10rem;
}

.faq-main-content img {
  height: 350px;
  width: 1800px;
}

.faq-main-content .faq-content > .faq-text {
  background: #2d4cff;
  padding: 1rem;
  color: #fff;
  margin-top: -2rem;
  font-size: 1.2rem;
  border-radius: 5px;
  flex-direction: column;
}

.faq-main-content .faq-content > .faq-text h5 {
  font-family: "Poppins", sans-serif;
  font-size: 1.3rem;
}

#faq .fa-minus:hover {
  animation: fa-minus 0.2s linear infinite;
  cursor: pointer;
}

@keyframes fa-minus {
  25% {
    transform: translateX(10px);
  }

  50% {
    transform: translateX(-10px);
  }
}

.faq-main-content .faq-content > .faq-text > .faq-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.faq-main-content .faq-content > .faq-check {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #4b6583;
  padding: 1rem;
  margin-top: 2rem;
  opacity: 0.4;
}

.faq-main-content .faq-content > .faq-check i {
  cursor: pointer;
  transition: all 1s ease-in;
}

.faq-main-content .faq-content > .faq-check i:hover {
  transform: rotateY(360deg);
}

/* Footer */

#footer {
  background: url("img/footer.png") no-repeat center center/cover;
  height: 100%;
}

.footer-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.footer-content .footer-logo {
  padding: 1rem;
}

.footer-content .footer-logo img {
  width: 150px;
  margin: 1.3rem;
}

.footer-content .footer-logo p {
  font-size: 1.2rem;
  color: #fff;
  line-height: 1.3;
}

.footer-content .footer-contact {
  padding: 1rem;
}

.footer-content .footer-contact h2 {
  color: #fff;
  margin-bottom: 2rem;
  font-family: "Poppins", sans-serif;
}

.footer-content .footer-contact p > i {
  color: #ef646d;
  font-size: 1.7rem;
}

.footer-content .footer-contact p {
  color: #fff;
  margin-bottom: 1rem;
}

.footer-content .footer-contact .fa-twitter,
.footer-content .footer-contact .fa-linkedin-in,
.footer-content .footer-contact .fa-facebook-f {
  color: #adadad;
  background: #fff;
  padding: 0.75rem;
  border-radius: 100%;
  margin-left: 0.55rem;
  transition: all 0.3s ease-in;
}

.footer-content .footer-contact .fa-facebook-f {
  padding: 0.75rem 1rem;
}

.footer-content .footer-contact .fa-twitter:hover,
.footer-content .footer-contact .fa-linkedin-in:hover,
.footer-content .footer-contact .fa-facebook-f:hover {
  animation: footer-btn 0.5s ease-in;
  color: #fff;
  background: #adadad;
  transform: rotate(360deg);
}

@keyframes footer-btn {
  0% {
    transform: scale(1);
  }

  25% {
    transform: scale(1.2);
  }

  50% {
    transform: scale(1.1);
  }

  75% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}

.footer-links {
  padding: 1rem;
}

.footer-links h2 {
  color: #fff;
  font-family: "Poppins", sans-serif;
  margin-bottom: 2rem;
}

.footer-links p {
  margin-bottom: 1rem;
}

.footer-links p > a {
  color: #fff;
  transition: all 0.2s ease-in;
}

.footer-links p > a:hover {
  color: #ef646d;
}

.footer-news {
  padding: 1rem;
}

.footer-news h2 {
  color: #fff;
  margin-bottom: 2rem;
  font-family: "Poppins", sans-serif;
}

.footer-news p {
  margin-bottom: 1rem;
}

.footer-news a {
  color: #fff;
  transition: all 0.2s ease-in;
}

.footer-news a:hover {
  color: #ef646d;
}

.footer-news .news-time {
  color: #fff;
  opacity: 0.5;
  font-size: 1rem;
}

#footer hr {
  margin-bottom: 2rem;
  color: #fff;
  border-radius: 20px;
  transition: all 0.5s ease-in;
  cursor: pointer;
}

#footer hr:hover {
  color: #f65c66;
}

.footer-copy {
  color: #fff;
  text-align: center;
  margin-bottom: 1.5rem;
}

.footer-copy-a {
  color: #00ff62;
  opacity: 0.7;
}

/* MEDIA QUERY */

@media (max-width: 779px) {
  /* Navbar */

  #navbar {
    flex-direction: column;
  }

  #navbar #nav-content ul li {
    padding-left: none;
  }

  /* Marketing */

  #marketing {
    height: 100%;
  }

  .marketing-header hr {
    visibility: hidden;
  }

  #marketing .marketing-main-box {
    flex-direction: column;
    margin-top: 3rem;
  }

  #marketing .marketing-main-box .marketing-box {
    margin-left: 0;
  }

  /* About */

  #about {
    height: 100%;
  }

  #about .about-content {
    height: 85vh;
  }

  /* Features */

  #features {
    height: 100%;
  }

  .features-all-img {
    flex-direction: column;
  }

  .features-all-img .features-img-1st::before {
    top: 1.7rem;
    left: 5rem;
  }

  /* Team */

  #team {
    height: 100%;
  }

  .team-header hr {
    visibility: hidden;
  }

  #team .team-main-box {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .team-box {
    margin-bottom: 2rem;
  }

  /* Client */

  #client {
    height: 100%;
  }

  .client-header hr {
    visibility: hidden;
  }

  .client-main-box {
    flex-direction: column;
  }

  .client-main-box .client-box {
    margin-left: 0;
    margin-bottom: 2rem;
  }

  /* FAQ */

  #faq {
    height: 100%;
  }

  .faq-main-content {
    flex-direction: column;
    margin-top: 2rem;
  }

  .faq-main-content img {
    height: 200px;
    width: 400px;
    margin-bottom: 2rem;
  }
}

@media (max-width: 702px) {
  #main-header {
    height: 110vh;
  }

  /* Navbar */

  #navbar #nav-content ul {
    flex-direction: colum;
  }

  #navbar #nav-content ul li {
    padding-bottom: 1rem;
  }

  #main-header #header-content {
    height: 85vh;
  }

  /* Footer */

  .footer-content {
    flex-direction: column;
  }
}

@media (max-width: 613px) {
  #main-header {
    height: 100%;
  }

  #navbar #nav-content ul {
    flex-direction: column;
  }

  #main-header #header-content {
    height: 100vh;
  }
}

@media (max-width: 426px) {
  #main-header #header-content .read-more-btn {
    display: none;
  }
}

@media (max-width: 409px) {
  #main-header #header-content h1 {
    font-size: 3rem;
    margin-top: -12rem;
  }

  #main-header #header-content p {
    margin-top: 2rem;
    margin-bottom: 3.5rem;
  }
}

@media (max-width: 593px) {
  #about {
    height: 100%;
  }

  #about .about-content {
    height: 100vh;
  }
}

@media (max-width: 475px) {
  #about .about-content {
    height: 110vh;
  }
}

@media (max-width: 380px) {
  #about .about-content {
    height: 120vh;
  }
}

@media (max-width: 365px) {
  #about .about-content {
    height: 130vh;
  }
}

@media (max-width: 337px) {
  #about .about-content {
    height: 140vh;
  }
}

@media (max-width: 327px) {
  #about .about-content {
    height: 150vh;
  }
}

@media (max-width: 1217px) {
  #marketing {
    height: 100%;
  }
}

@media (max-width: 1116px) {
  .features-all-img {
    flex-direction: column;
  }

  .features-all-img .features-img-1st::before {
    top: 1.9rem;
    left: 15.8rem;
  }
}

@media (max-width: 1344px) {
  .features-all-img .features-img-1st::before {
    top: 3.5rem;
    left: 2rem;
  }
}

@media (max-width: 1330px) {
  .features-all-img .features-img-1st::before {
    top: 3.5rem;
    left: 1.3rem;
  }
}

@media (max-width: 1330px) {
  .features-all-img .features-img-1st::before {
    top: 3.5rem;
    left: 1.3rem;
  }
}

@media (max-width: 1210px) {
  .features-all-img .features-img-1st::before {
    top: 3.5rem;
    left: 0.5rem;
  }
}

@media (max-width: 1182px) {
  .features-all-img .features-img-1st::before {
    top: 3.5rem;
    left: 0.1rem;
  }
}

@media (max-width: 1107px) {
  .features-all-img .features-img-1st::before {
    top: 1.9rem;
    left: 15.4rem;
  }
}

@media (max-width: 1116px) {
  .features-all-img .features-img-1st::before {
    top: 1.9rem;
    left: 15.4rem;
  }
}

@media (max-width: 1098px) {
  .features-all-img .features-img-1st::before {
    top: 1.9rem;
    left: 15rem;
  }
}

@media (max-width: 1083px) {
  .features-all-img .features-img-1st::before {
    top: 1.9rem;
    left: 14.5rem;
  }
}

@media (max-width: 1068px) {
  .features-all-img .features-img-1st::before {
    top: 1.9rem;
    left: 14.1rem;
  }
}

@media (max-width: 1054px) {
  .features-all-img .features-img-1st::before {
    top: 1.9rem;
    left: 13.7rem;
  }
}

@media (max-width: 1042px) {
  .features-all-img .features-img-1st::before {
    top: 1.9rem;
    left: 13.3rem;
  }
}

@media (max-width: 1028px) {
  .features-all-img .features-img-1st::before {
    top: 1.9rem;
    left: 13rem;
  }
}

@media (max-width: 1020px) {
  .features-all-img .features-img-1st::before {
    top: 1.9rem;
    left: 12.6rem;
  }
}

@media (max-width: 1008px) {
  .features-all-img .features-img-1st::before {
    top: 1.9rem;
    left: 12.2rem;
  }
}

@media (max-width: 998px) {
  .features-all-img .features-img-1st::before {
    top: 1.9rem;
    left: 11.7rem;
  }
}

@media (max-width: 988px) {
  .features-all-img .features-img-1st::before {
    top: 1.9rem;
    left: 11rem;
  }
}

@media (max-width: 960px) {
  .features-all-img .features-img-1st::before {
    top: 1.9rem;
    left: 10.4rem;
  }
}

@media (max-width: 942px) {
  .features-all-img .features-img-1st::before {
    top: 1.9rem;
    left: 10rem;
  }
}

@media (max-width: 942px) {
  .features-all-img .features-img-1st::before {
    top: 1.9rem;
    left: 9.4rem;
  }
}

@media (max-width: 906px) {
  .features-all-img .features-img-1st::before {
    top: 1.9rem;
    left: 9rem;
  }
}

@media (max-width: 896px) {
  .features-all-img .features-img-1st::before {
    top: 1.9rem;
    left: 8.6rem;
  }
}

@media (max-width: 884px) {
  .features-all-img .features-img-1st::before {
    top: 1.9rem;
    left: 8rem;
  }
}

@media (max-width: 866px) {
  .features-all-img .features-img-1st::before {
    top: 1.9rem;
    left: 7.5rem;
  }
}

@media (max-width: 850px) {
  .features-all-img .features-img-1st::before {
    top: 1.9rem;
    left: 7rem;
  }
}

@media (max-width: 832px) {
  .features-all-img .features-img-1st::before {
    top: 1.9rem;
    left: 6.5rem;
  }
}

@media (max-width: 816px) {
  .features-all-img .features-img-1st::before {
    top: 1.9rem;
    left: 6rem;
  }
}

@media (max-width: 802px) {
  .features-all-img .features-img-1st::before {
    top: 1.9rem;
    left: 5.5rem;
  }
}

@media (max-width: 786px) {
  .features-all-img .features-img-1st::before {
    top: 1.9rem;
    left: 5rem;
  }
}

@media (max-width: 758px) {
  .features-all-img .features-img-1st::before {
    top: 1.9rem;
    left: 4.2rem;
  }
}

@media (max-width: 742px) {
  .features-all-img .features-img-1st::before {
    top: 1.9rem;
    left: 4rem;
  }
}

@media (max-width: 742px) {
  .features-all-img .features-img-1st::before {
    top: 1.9rem;
    left: 3.3rem;
  }
}

@media (max-width: 712px) {
  .features-all-img .features-img-1st::before {
    top: 1.9rem;
    left: 2.4rem;
  }
}

@media (max-width: 682px) {
  .features-all-img .features-img-1st::before {
    top: 1.9rem;
    left: 1.6rem;
  }
}

@media (max-width: 662px) {
  .features-all-img .features-img-1st::before {
    top: 1.9rem;
    left: 1rem;
  }
}

@media (max-width: 632px) {
  .features-all-img .features-img-1st::before {
    top: 1.9rem;
    left: 9.3rem;
  }
}

@media (max-width: 622px) {
  .features-all-img .features-img-1st::before {
    top: 1.9rem;
    left: 8.9rem;
  }
}

@media (max-width: 606px) {
  .features-all-img .features-img-1st::before {
    top: 1.9rem;
    left: 8rem;
  }
}

@media (max-width: 580px) {
  .features-all-img .features-img-1st::before {
    top: 1.9rem;
    left: 7.6rem;
  }
}

@media (max-width: 566px) {
  .features-all-img .features-img-1st::before {
    top: 1.9rem;
    left: 7rem;
  }
}

@media (max-width: 546px) {
  .features-all-img .features-img-1st::before {
    top: 1.9rem;
    left: 6.5rem;
  }
}

@media (max-width: 528px) {
  .features-all-img .features-img-1st::before {
    top: 1.9rem;
    left: 6rem;
  }
}

@media (max-width: 514px) {
  .features-all-img .features-img-1st::before {
    top: 1.9rem;
    left: 5.5rem;
  }
}

@media (max-width: 498px) {
  .features-all-img .features-img-1st::before {
    top: 1.9rem;
    left: 5rem;
  }
}

@media (max-width: 484px) {
  .features-all-img .features-img-1st::before {
    top: 1.9rem;
    left: 4.5rem;
  }
}

@media (max-width: 484px) {
  .features-all-img .features-img-1st::before {
    top: 1.9rem;
    left: 4.2rem;
  }
}

@media (max-width: 460px) {
  .features-all-img .features-img-1st::before {
    top: 1.9rem;
    left: 3.7rem;
  }
}

@media (max-width: 440px) {
  .features-all-img .features-img-1st::before {
    top: 1.9rem;
    left: 3.1rem;
  }
}

@media (max-width: 424px) {
  .features-all-img .features-img-1st::before {
    top: 1.9rem;
    left: 2.6rem;
  }
}

@media (max-width: 424px) {
  .features-all-img .features-img-1st::before {
    top: 1.9rem;
    left: 2rem;
  }
}

@media (max-width: 384px) {
  .features-all-img .features-img-1st::before {
    top: 1.9rem;
    left: 1.2rem;
  }
}

@media (max-width: 362px) {
  .features-all-img .features-img-1st::before {
    top: 1.9rem;
    left: 1rem;
  }
}

@media (max-width: 354px) {
  .features-all-img .features-img-1st::before {
    display: none;
  }
}

@media (max-width: 375px) {
  #about .about-content {
    height: 145vh;
  }
}

@media (max-width: 1342px) {
}
